.btn-laravel,
.btn-php-modules,
.btn-live-chat,
.btn-promo {
    border-radius: 4em;
}

.btn-outline-dark,
.btn-outline-light {
    border-width: 3px;
}

.call-center-footer {
    background-color: #00adff;
}

.btn-primary {
    background-color: #298dea;
    border-color: #298dea;
}