$font-roboto-path: "../fonts/roboto";
$font-montserrat-path: "../fonts/montserrat";

@font-face {
    font-family: Roboto-Light;
    src: url("#{$font-roboto-path}/Roboto-Light.ttf");
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("#{$font-montserrat-path}/Montserrat-Bold.otf");
}

@font-face {
    font-family: Montserrat-Light;
    src: url("#{$font-montserrat-path}/Montserrat-Light.otf");
}

@font-face {
    font-family: Roboto-Thin;
    src: url("#{$font-roboto-path}/Roboto-Thin.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("#{$font-roboto-path}/Roboto-Bold.ttf");
}

a.nav-link {
    font-family: Roboto-Light;
    font-weight: 600;
}

.content-head-title,
.bold-call-center {
    font-family: Montserrat-Bold;
}

.bold-call-center,
h2.call-center {
    color: #fff;
}

.content-title {
    font-family: Montserrat-Light;
    font-weight: 200;
}

.laravel-desc {
    font-family: Roboto-Light;
    line-height: 1.5em;
}

.btn-laravel,
.btn-php-modules {
    font-family: Roboto-Bold;
    border-radius: 30px;
}

.hosting-pack-desc {
    font-family: Roboto-Thin;
    font-weight: 600;
}

.hosting-pack-title {
    font-family: Montserrat-Bold;
}

.call-center {
    font-family: Roboto-Light;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1.5em;
}

.linux-desc {
    font-family: Roboto-Light;
}
